@media (max-width: 992px) {
    .titulo1 {
        text-align: center;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .titulo1 h1,
    .titulo1 h2 {
        width: 90%;
        max-width: 500px;
        min-width: unset;
    }

    .titulo1 p {
        max-width: 600px;
        width: 60%;
    }

    .portada {
        display: none;
    }
}

@media (max-width: 576px) {
    .titulo1 p {
        width: 70%;
        max-width: unset;
    }

    .footer-links {
        flex-direction: column;
        text-align: center;
    }
}