

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

main {
    background: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ffffff;

}

#titulo {
    margin-top: 65px;
    padding: 70px 100px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.titulo1 h1 {
    font-size: 42px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: white;
}

.titulo1 span {
  display: flex;
  font-size: 47px;
  font-weight: 600;
  margin-top: 0px;
}

.titulo1 p {
    font-weight: 300;
    font-size: 14px;
    width: 75%;
    color:white;
    margin-top: 30px;
}

.ver a {
  background: var(--gradient);
  color: white;
  width: 50px;
  padding: 12px 35px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.portada {
    width: 200px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.img1 {
    position: absolute;
    width: 150px;
    height: 200px;
    
}

.img2{
    position: absolute;
    width: 280px;
    height: 280px;
   margin-left: -95px;
   margin-top: -95px;

}

footer {
    background: #252525;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

footer a,
footer p{
    color: white;
    font-weight: 300;
    font-size: 15px;
}

footer a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}

footer span{
    font-weight: 600;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
}