@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style-type: none;
  }

 :root {

    --bg-color:#252525;
    --yellow:#FFA400;
    --rose:#FC2933;
    --white:#FFFFFF;
    --gradient:linear-gradient(90deg,#FFA100 0%, #FB103D 100%);
}



html{
  background: #131415;
}


/*-------------------   header -------------------------------*/
/*--se aplican estilos para el header, se añede el check-box para  actiuvar el menu de  carro de compras y el usuario  -*/
/*---el menu de compras y usuario aun sin definir-----*/
header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-top:20px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 5px;
}

nav{
    display: flex;
    gap: 50px;
}

.home{
    display: flex;
    gap: 8px;
    color:  var(--white);
    justify-items: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

#home{
    display: none;
}

#user{
    display: none;
}

.lista-compras,
.user{
    width: 500px;
    height: 500px;
    top: 81px;
    right: 20px;
    border-radius:10px;
    background-color: aqua;
    position: absolute;
    display: none;
}

#home:checked ~ .lista-compras{
    display: block;
}
#user:checked ~ .user{
    display: block;
}

nav i{
    cursor: pointer;
}

/*------------------------------------------------------------*/ 

main {
    display: flex;
    flex-direction: column;
   /*  align-items: center;
    justify-content: center; */
    color:#ffffff;

}

#titulo {
    margin-top: 25px;
    padding: 0 100px;
    max-width: 1200px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.titulo1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.titulo1 h1 {
    font-size: 60px;
    width: 80%;
    min-width: 500px;
    font-weight: 700;
    color: white;
}

.titulo1 h2{
font-size: 47px;
font-weight: 700;
margin-top: 0px;

}
.titulo1 p {
    font-weight: 400;
    font-size: 18px;
    width: 75%;
    color:white;
}

.portada {
    width: 200px;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    width: 245px;
    height: 245px;
}

.img2{
    width: 372px;
    height: 372px;
    margin-left: -130px;
    margin-top: -100px;
}

footer {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

footer a,
footer p{
    color: white;
    font-weight: 300;
    font-size: 15px;
}

footer a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}

footer span{
    font-weight: 600;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    color: white;
}

/* inicio seccion categorias  */

.categorias{
  display: flex;
  flex-direction: column;
  gap: 51px;
  padding: 50px 60px;
  color: var(--white);
}

.categorias h3 {
  font-weight: 800;
  font-size: 15px;

}

.container-categorias__cards{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
#pizza-icon{
  margin-top: -90px;
  margin-bottom: 5px;
  height: 71px;
}
.cards__icon{
  margin-top: -103px;
}
.categorias__cards{
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 15px;
  padding: 20px;
  gap: 10px;
  width: 147px;
  height: 171px;
  align-items: center;
}

.categorias__cards--info{
  font-size: 15px;
  color: var(--white);
}

.categorias__cards--linea{
  width: 24px;
  height: 4px;
  border: 15px;
  border-radius: 15px;
  background: var(--gradient);
}

.categorias__cards:hover{ 
  animation: scale-up-center 1s ease 0s 1 normal forwards;
  
}
@keyframes scale-up-center {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}

/* fin seccion categorias  */

